.home-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.spacer {
  display: none;
}

.newpost-wrapper,
.layout-wrapper,
.card-wrapper {
  display: flex;
  flex-direction: column;
}

.layout-wrapper,
.card-wrapper {
  align-items: center;
}

.newpost-wrapper {
  align-self: stretch;
}

.newpost-wrapper,
.card-wrapper {
  margin: 8px 18px 0 18px;
}

.chip-wrapper {
  margin: 0 8px 0 8px;
  max-width: 565px;
}

/* xs, extra-small: 0px or larger
sm, small: 600px or larger
md, medium: 960px or larger
lg, large: 1280px or larger
xl, extra-large: 1920px or larger */

@media (min-width: 600px) {
  .home-wrapper {
    margin-top: 80px;
  }
}

@media (min-width: 960px) {
  .navigation-wrapper {
    position: fixed;
  }

  .spacer {
    display: block;
    position: relative;
    width: 250px;
    margin-left: 32px;
  }
}
