.post-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
}

.chip-wrapper {
  align-self: flex-start;
}

.card-expanded-wrapper {
  margin-top: -18px;
}

@media (min-width: 600px) {
  .post-wrapper {
    align-items: stretch;
    width: 600px;
    margin: 88px auto 0 auto;
  }
}
